html
{
	height: 100%;
}

body 
{
  //padding-top: 50px;
	height: 100%;
}

img.user-photo 
{
  padding-top: 5px;
}

.starter-template 
{
  padding: 40px 15px;
  text-align: center;
}

.nav-glyph
{
	padding-top: 13px !important;
	padding-bottom: 13px !important;
}

.nav-glyph-home
{
	padding-top: 12px !important;
	padding-bottom: 14px !important;
}

.nav-glyph-network
{
	padding-top: 14px !important;
	padding-bottom: 12px !important;
}

#footer 
{
	height: 50px;
	background-color: #f5f5f5;
}

#wrap 
{
	min-height: 100%;
	height: auto;
	/* Negative indent footer by its height */
	margin: 0 auto -50px;
	/* Pad bottom by footer height */
	padding: 0 0 50px 0;
}

#wrap > .container 
{
	padding: 50px 15px 0;
}

.container .text-muted 
{
	margin: 15px 0;
}

#footer > .container 
{
	padding-left: 15px;
	padding-right: 15px;
}
